/* @tailwind base;
@tailwind components;
@tailwind utilities; */


.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
}
.logo{
    width: 150px;
    margin-top: 5px;
}
.nav-items ul{
    display: flex;
    list-style-type: none;
    padding: 0 50px;
}
.nav-items ul li{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
.btnlogin{
    width: 100px;
    height: auto;
    font-size: 20px;
    cursor: pointer;
}

.resturent-carts{
    display: flex;
    flex-wrap: wrap;
}
.res-carts{
    width: 200px;
    margin: 10px 9px;
    padding: 15px;
    border: 1px solid black;
    transition: scale 0.3s ease-in;
}
.res-carts:hover{
    scale: 0.9;
}
.cart-img{
    cursor: pointer;
    width: 200px;
    height: 130px;
}

.filter-btn{
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

.shimmer-btn-filter{
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    width: 150px;
    height: 30px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-cards{
    width: 200px;
    height: 350px;
    margin: 10px 9px;
    padding: 15px;
    border: 1px solid black;
    background-color: #f0f0f0;
}
.shimmer-h3{
    width: 150px;
    height: 30px;
    border: 1px solid gray;
}
.shimmer-h4{
    width: 100px;
    height: 25px;
    border: 1px solid gray;
}